{{ template "chart.header" . }}
{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}

> [!WARNING]
> For new deployments we encourage you to try the new [`agent-local`](/charts/agent-local)
> or [`agent-k8s`](/charts/agent-k8s) charts.

## Overview

This chart uses the Scalr Agent with the `docker` driver and a Docker-in-Docker sidecar container.
Originally built to run the Docker-based Agent on Kubernetes due to the lack of native Kubernetes support.
It has been retained due to adoption challenges with the native agent-k8s chart, we recommend using the newer
[agent-local](../charts/agent-local) chart for new installations instead of agent-docker.

This Kubernetes deployment does not scale across multiple replicas. As a result, the compute capacity
managed by each agent is limited to a single node. You can run multiple separate Deployments within
the same Kubernetes cluster to increase overall capacity.

### Pros

- Simple to deploy.
- Scalr Agent service doesn’t require permissions to access the Kubernetes API.
- Includes Provider Cache and Binary Cache by default.

### Cons

- Doesn’t support autoscaling.
- Not cost-efficient for bursty workloads — e.g., deployments with high number of Runs during short periods and low activity otherwise, as resources remain allocated even when idle.
- Depends on a priviliged Docker-in-Docker service.
- Impossible to configure storage.

## Deployment Diagram

<p align="center">
  <img src="assets/agent-docker-deploy-diagram.jpg" />
</p>

**Homepage:** <https://github.com/Scalr/agent-helm/tree/master/charts/agent-docker>

{{ template "chart.maintainersSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
