apiVersion: v2
name: agent-k8s
description: |
  A Helm chart for deploying the Scalr Agent on a Kubernetes cluster.
  Deploys an agent controller with a set of agent workers and executes runs in isolated pods.
type: application
version: 0.5.65
appVersion: 0.59.0
home: https://github.com/Scalr/agent-helm/tree/master/charts/agent-k8s
maintainers:
  - name: scalr
    email: packages@scalr.com
