# Default values for agent-k8s.

image:
  # -- Docker repository for the Scalr Agent image.
  repository: scalr/agent
  # -- The pullPolicy for a container and the tag of the image.
  pullPolicy: Always
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""

agent:
  # -- The Scalr url.
  url: ""
  # -- The agent pool token.
  token: ""
  # -- The name of the secret containing the agent pool token. Secret is created if left empty.
  tokenExistingSecret: ""
  # -- The key of the secret containing the agent pool token.
  tokenExistingSecretKey: "token"
  # -- Enable debug logs
  debug: false
  # -- The log formatter. Options: "plain" or "dev" or "json".
  log_format: "json"
  # -- Defines the SIGTERM/SIGHUP/SIGINT signal handler's shutdown behavior. Options: "drain" or "grace-shutdown" or "force-shutdown".
  worker_on_stop_action: "drain"
  # -- The timeout for draining worker tasks in seconds. After this timeout, tasks will be terminated via the SIGTERM signal.
  worker_drain_timeout: 3600
  # -- The timeout in seconds for gracefully shutting down active tasks via the SIGTERM signal. After this timeout, tasks will be terminated with the SIGKILL signal.
  grace_shutdown_timeout: 60
  # -- Determines if the agent should automatically disconnect from the Scalr agent pool when the service is stopping.
  disconnect_on_stop: true
  # -- The agent working directory on the cluster host node.
  data_home: "/home/kubernetes/flexvolume/agent-k8s"
  # -- The CA certificates bundle to use for all agent requests and container tasks.
  # The CA file can be located inside the agent VM, allowing selection of a
  # certificate by its path. If running the agent within Docker, ensure the certificate
  # is mounted to an agent container. Alternatively, a base64 string containing the
  # certificate bundle can be used. The example encoding it: `cat /path/to/bundle.ca | base64`.
  # The bundle should include both your private CAs and the standard set of public CAs.
  ca_cert: ""
  # -- The container task's (e.g., Kubernetes Pod) scheduling timeout in seconds.
  # The task will be waiting for the scheduling in the queued status; if the cluster
  # does not allocate resources for the container in that timeout, the task will be switched to the errored status.
  container_task_scheduling_timeout: 120
  # -- The timeout for the agent worker to acquire the container task (e.g., Kubernetes Pod).
  # This timeout is primarily relevant in Kubernetes node autoscaling scenarios. It includes
  # the time to spin up a new Kubernetes node, pull the agent worker image onto it, deploy
  # the agent worker as part of a DaemonSet, and the time for the worker to launch and acquire
  # the task to continue the run's execution.
  container_task_acquire_timeout: 180
  # -- CPU resource request defined in cores. If your container needs two full cores to run, you would
  # put the value 2. If your container only needs ¼ of a core, you would put a value of 0.25 cores.
  container_task_cpu_request: 1.0
  # -- CPU resource limit defined in cores. If your container needs two full cores to run, you would put the value 2.
  # If your container only needs ¼ of a core, you would put a value of 0.25 cores.
  container_task_cpu_limit: 8.0
  # -- Memory resource request defined in megabytes.
  container_task_mem_request: 1024
  # -- Memory resource limit defined in megabytes.
  container_task_mem_limit: 16384
  # -- The CA certificates bundle to mount it into the container task at `/etc/ssl/certs/ca-certificates.crt`.
  # The CA file can be located inside the agent Pod, allowing selection of a
  # certificate by its path. Alternatively, a base64 string containing the
  # certificate bundle can be used. The example encoding it: `cat /path/to/bundle.ca \| base64`.
  # The bundle should include both your private CAs and the standard set of public CAs.
  container_task_ca_cert: ""
  # -- Choose the runner image mode: golden or legacy.
  # "In golden runner image mode, software-specific Docker images are used to create Scalr Run containers (e.g., scalr/opentofu:x.y.z, where x.y.z depends on workspace settings).
  # In legact runner image mode, a single runner image will be used instead (defined by agent.containerTaskImage configuration).
  # OpenTofu/Terraform/etc. will be shipped as binary artifacts from scalr.io rather than bundled in images.
  # For newer accounts, golden runner image mode is already enforced by default by the Scalr platform, ignoring this option.
  # For older accounts, legacy mode is used and golden mode can be enforced using this option. Alternatively,
  # you can contact the Scalr Team to enable it for all agents in your account by default.
  container_task_image_mode: legacy
  # -- The OCI image reference for the golden runner image. Applicable when `agent.container_task_image_mode=golden`.
  # The default image GitHub repository: <https://hub.docker.com/r/scalr/runner>.
  container_task_image: scalr/runner:0.2.0
  # -- The OCI image registry configuration for legacy software-specific runner images:
  # `scalr/terraform`, `scalr/opentofu`, `openpolicyagent/opa`, `infracost/infracost`, and `bridgecrew/checkov`.
  # Applicable when `agent.container_task_image_mode=legacy`.
  # If the registry ends with a trailing slash, it will be appended to the original namespace/image-name.
  # Otherwise, the namespace will be erased.
  #
  # Examples:
  # - `agent.container_task_image_registry=gcr.io/my/org/ + scalr/opentofu:1.0.0 => gcr.io/my/org/scalr/opentofu:1.0.0`
  # - `agent.container_task_image_registry=gcr.io/my/org + scalr/opentofu:1.0.0 => gcr.io/my/org/opentofu:1.0.0`
  container_task_image_registry: ""
  # -- Size limit (in megabytes) of the global plugin cache with providers from the public registries.
  gc_plugins_global_size_limit: 2560
  # -- Extra labels to apply to the agent task pods.
  kubernetes_task_labels: {}
  # -- Extra annotations to apply to the agent task pods.
  kubernetes_task_annotations: {}
  # -- Enable automatic mounting of the service account token into the agent task pods.
  automount_service_account_token: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
# -- Kubernetes Node Selector for assigning controller agent to specific node in the cluster.
# Example: `--set controllerNodeSelector."cloud\\.google\\.com\\/gke-nodepool"="scalr-agent-controller-pool"`
controllerNodeSelector: {}
# -- Kubernetes Node Selector for assigning worker agents and scheduling agent tasks to specific nodes in the cluster.
# The selector must match a node's labels for the pod to be scheduled on that node.
# Expects input structure as per specification <https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.27/#toleration-v1-core>.
# Example: `--set controllerTolerations[0].operator=Equal,controllerTolerations[0].effect=NoSchedule,controllerTolerations[0].key=dedicated,controllerTolerations[0].value=scalr-agent-controller-pool`
controllerTolerations: []
# -- Kubernetes Node Selector for the agent worker and the agent task pods.
# Example: `--set workerNodeSelector."cloud\\.google\\.com\\/gke-nodepool"="scalr-agent-worker-pool"`
workerNodeSelector: {}
# -- Kubernetes Node Tolerations for the agent worker and the agent task pods.
# Expects input structure as per specification <https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.27/#toleration-v1-core>.
# Example: `--set workerTolerations[0].operator=Equal,workerTolerations[0].effect=NoSchedule,workerTolerations[0].key=dedicated,workerTolerations[0].value=scalr-agent-worker-pool`
workerTolerations: []

serviceAccount:
  # -- Create a Kubernetes service account for the Scalr Agent.
  create: true
  # -- Whether to automount the service account token in the Scalr Agent pod.
  automountToken: true
  # -- Annotations for the service account.
  annotations: {}
  # -- Additional labels for the service account.
  labels: {}
  # -- Name of the service account. Generated if not set and 'create' is true.
  name: ""

# -- Amazon EFS file system ID to use EFS storage as data home directory.
efsVolumeHandle: ""

# -- Amazon EFS mount options to define how the EFS storage volume should be mounted.
efsMountOptions:
  - acregmin=1
  - acregmax=3
  - acdirmin=1
  - acdirmax=3

# -- Security context for Scalr Agent pod.
podSecurityContext:
  runAsNonRoot: false
  fsGroup: 0

# -- Security context for Scalr Agent container.
securityContext:
  # -- Run container in privileged mode. Enable only if required.
  privileged: false
  # -- Proc mount type. Valid values: Default, Unmasked, Host.
  procMount: Default
  # -- Restrict container capabilities for security.
  capabilities:
    drop:
      - ALL
  runAsNonRoot: false
  runAsUser: 0
  runAsGroup: 0

# -- The Agent Pods annotations.
podAnnotations: {}

# -- Controller specific pod annotations (merged with podAnnotations, overrides duplicate keys)
controllerPodAnnotations: {}

# -- Worker specific pod annotations (merged with podAnnotations, overrides duplicate keys)
workerPodAnnotations: {}

# -- Apply NetworkPolicy to an agent pod that denies access to VM metadata service address (169.254.169.254)
restrictMetadataService: false

# -- Provides the amount of grace time prior to the agent-k8s container being forcibly terminated when marked for deletion or restarted.
terminationGracePeriodSeconds: 3660

# Additional environment variables for agent containers.
# For instance to add a HTTP proxy.
extraEnv: {}
#   HTTPS_PROXY: "http://myproxy.com:3128"
#   HTTP_PROXY: "http://myproxy.com:3128"
#   NO_PROXY: "localhost,127.0.0.1"

resources:
  requests:
    cpu: 250m
    memory: 256Mi
