{{- if and .Values.persistence.enabled (not .Values.persistence.persistentVolumeClaim.claimName) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "agent-local.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "agent-local.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.persistentVolumeClaim.accessMode }}
  resources:
    requests:
      storage: {{ .Values.persistence.persistentVolumeClaim.storage }}
  {{- if .Values.persistence.persistentVolumeClaim.storageClassName }}
  storageClassName: {{ .Values.persistence.persistentVolumeClaim.storageClassName }}
  {{- else if eq .Values.persistence.persistentVolumeClaim.storageClassName "-" }}
  storageClassName: ""
  {{- end }}
{{- end }}
