apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: "{{ include "agent-k8s.fullname" . }}-worker"
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "agent-k8s.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  selector:
    matchLabels:
      {{- include "agent-k8s.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with (merge (deepCopy .Values.podAnnotations) .Values.workerPodAnnotations) }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
      labels:
        {{- include "agent-k8s.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "agent-k8s.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountToken }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: agent-k8s
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: SCALR_URL
              value: {{ .Values.agent.url | quote }}
            - name: SCALR_AGENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.agent.tokenExistingSecret | default (include "agent-k8s.name" .) }}
                  key: {{ .Values.agent.tokenExistingSecretKey | default "token" }}
                  optional: false
            - name: SCALR_AGENT_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SCALR_AGENT_KUBERNETES_MODE
              value: "worker"
            {{- if .Values.efsVolumeHandle }}
            - name: SCALR_AGENT_KUBERNETES_EFS_CLAIM_NAME
              value: "agent-k8s-efs-claim"
            {{- end }}
            - name: SCALR_AGENT_DATA_DIR
              value: "{{ .Values.agent.data_home }}"
            - name: SCALR_AGENT_LOG_FORMAT
              value: "{{ .Values.agent.log_format }}"
            - name: SCALR_AGENT_DEBUG
              value: "{{ .Values.agent.debug }}"
            - name: SCALR_AGENT_WORKER_ON_STOP_ACTION
              value: "{{ .Values.agent.worker_on_stop_action }}"
            - name: SCALR_AGENT_WORKER_DRAIN_TIMEOUT
              value: "{{ .Values.agent.worker_drain_timeout }}"
            - name: SCALR_AGENT_WORKER_GRACE_SHUTDOWN_TIMEOUT
              value: "{{ .Values.agent.grace_shutdown_timeout }}"
            - name: SCALR_AGENT_DISCONNECT_ON_STOP
              value: "{{ .Values.agent.disconnect_on_stop }}"
            - name: SCALR_AGENT_CA_CERT
              value: "{{ .Values.agent.ca_cert }}"
            - name: SCALR_AGENT_CONTAINER_TASK_SCHEDULING_TIMEOUT
              value: "{{ .Values.agent.container_task_scheduling_timeout }}"
            - name: SCALR_AGENT_CONTAINER_TASK_ACQUIRE_TIMEOUT
              value: "{{ .Values.agent.container_task_acquire_timeout }}"
            - name: SCALR_AGENT_CONTAINER_TASK_CPU_REQUEST
              value: "{{ .Values.agent.container_task_cpu_request }}"
            - name: SCALR_AGENT_CONTAINER_TASK_CPU_LIMIT
              value: "{{ .Values.agent.container_task_cpu_limit }}"
            - name: SCALR_AGENT_CONTAINER_TASK_MEM_REQUEST
              value: "{{ .Values.agent.container_task_mem_request }}"
            - name: SCALR_AGENT_CONTAINER_TASK_MEM_LIMIT
              value: "{{ .Values.agent.container_task_mem_limit }}"
            - name: SCALR_AGENT_CONTAINER_TASK_CA_CERT
              value: "{{ .Values.agent.container_task_ca_cert }}"
            - name: SCALR_AGENT_CONTAINER_TASK_IMAGE
              value: "{{ .Values.agent.container_task_image }}"
            - name: SCALR_AGENT_CONTAINER_TASK_IMAGE_REGISTRY
              value: "{{ .Values.agent.container_task_image_registry }}"
            - name: SCALR_AGENT_PROVIDER_CACHE_SIZE_LIMIT_MB
              value: "{{ .Values.agent.gc_plugins_global_size_limit }}"
            {{- if .Values.extraEnv }}
            {{- range $key, $value := .Values.extraEnv }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: data-home
              mountPath: "{{ .Values.agent.data_home }}"
      {{- with .Values.workerNodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.workerTolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: data-home
          {{- if .Values.efsVolumeHandle }}
          persistentVolumeClaim:
            claimName: agent-k8s-efs-claim
          {{- else }}
          hostPath:
            path: {{ .Values.agent.data_home }}
            type: DirectoryOrCreate
          {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
